/* Section */
.beneficios {
    width: 95%;
    font-style: italic;
    font-size: 4.5rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;
    background-color: #53e08e;
    border: 2px solid white;
    border-radius: 22px;
    padding: 10px;
}
.parr {
    text-align: center;
    font-size: 18px;
    margin: 0 15px;
    margin-bottom: 70px;
}
.inicio {
    width: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1024px) {
    .detalle {
    flex-direction: column;
    }
    .padre {
    width: 100%;
    }
    .inicio {
    display: none;
    }
}
/* Fin section */